
@mixin poppin-thin() {
  font-family: "Poppins", serif;
  font-weight: 100;
  font-style: normal;
}

@mixin poppin-regular() {
  font-family: "Poppins", serif;
  font-weight: 400;
  font-style: normal;
}

@mixin poppin-semibold() {
  font-family: "Poppins", serif;
  font-weight: 600;
  font-style: normal;
}

@mixin poppin-bold() {
  font-family: "Poppins", serif;
  font-weight: 700;
  font-style: normal;
}

@mixin poppin-italic-regular() {
  font-family: "Poppins", serif;
  font-weight: 400;
  font-style: italic;
}

@mixin roboto-arial-regular() {
  font-family: "Roboto Condensed", serif;
  font-optical-sizing: auto;
  font-style: normal;
} 