@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet');
//importing mixins: it automatically change the extension in the text below and remove the _ as well.
@import './mixin';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  text-decoration: none;
}



$background-color1: #F7F9FA;
$background-color2: #ECEDF6;
$blue-fb: rgb(8, 144, 255);
$blue-fb-dark: rgb(8, 33, 255);
$white-font: rgb(255, 255, 255);
:root {
  @include poppin-regular();
  width: 100%;
  height: 100%;
  background-color: $background-color1;
}
header {
  height: 5vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $blue-fb;
/*   font-size: calc(1vw + 0.5vh); */
  & div {
    color: black;
    transform: scaleY(0.8) scaleX(0.9);
    padding-right: 1vw;
    padding-left: 1vw;
    & a {
      border-style: solid;
    }
  }
}

.header-0-2-4 {
  text-align: center;
  font-family: Poppins, serif;
  font-weight: 700;
  font-style: normal;
  color: gray;
  font-size: calc(1vw + 3vh);
}

.list-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.todo-list {
  margin-top: 2vh;
  width: 85vw;
  background-color: $background-color2;
  box-sizing: content-box;
  padding-top: 2vh;
  padding-bottom: 2.5vh;
  border-radius: 10px;
}

.form-input {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5vh;
  padding-left: 3vw;
  padding-right: 3vw;
  & .input-wrapper {
    display: flex;
    align-items: center;
    position: relative;
    height: 100%;
    & input {
      height: 63%;
      border: none;
      border-bottom-style: solid;
      border-color: hsla(0, 0%, 50%, 0.4);
      border-radius: 5px;
      padding-left: 2.5px;
      &::placeholder {
        font-size: calc(0.4vw + 0.8vh);
      }
    }
    &:hover div {
      opacity: 1;
    }
    &:focus-within div{
      opacity: 0;
    }
  }

  & .input-wrapper div {
    font-family: Roboto, Arial;
    position: absolute;
    bottom: -3vh;
    left: 1vw; 
    white-space: nowrap;
    background-color: rgb(150, 149, 149);
    color: $white-font;
    padding-top: 0.15vh;
    padding-bottom: 0.15vh;
    padding-left: 0.4vw;
    padding-right: 0.4vw;
    border-radius: 3px;
    transition: opacity 0.5s;
    opacity: 0;
  }

/*   & .input-wrapper:hover div {
    opacity: 1;
  }

  & .input-wrapper:focus-within div {
    opacity: 0;
  } */

  & .submit-button {
    position: relative;
    font-size: calc(0.5vw + 1vh);
    width: 15vw;
    height: 80%;
    @include poppin-regular();
    background-color: $blue-fb;
    color: $white-font;
    border: none;
    border-radius: 25px;
    cursor: pointer;
  }
  margin-bottom: 2vh;
}

.submit-button:active {
  background-color: $blue-fb-dark;
}

.items-container {
  display: flex;
  flex-direction: column;
  gap: 2vh;
  padding-left: 3vw;
  padding-right: 3vw;
}

.todo-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 6vh;
  padding-left: 1vw;
  padding-right: 1vw;
  background-color: white;
  border-radius: 10px;
  & div {
    width: 8vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 0.5vw;
    padding-right: 0.5vw;
  }
  & input {
    cursor: pointer;
  }
  & button {
    width: 1.8em;
    height: 1.8em;
    border: none;
    border-radius: 25px;
    background-color: #FF0000;
    cursor: pointer;

    & span {
      font-size: 1em;
      color: $white-font;
    }
  }
} 

//tool-tip section

.submit-button .tool-tip {

  font-family: Roboto, Arial;
  position: absolute;
  bottom: -2.5vh;
  left: 1vw; 
  white-space: nowrap;
  background-color: rgb(150, 149, 149);
  padding-top: 0.2vh;
  padding-bottom: 0.2vh;
  padding-left: 0.4vw;
  padding-right: 0.4vw;
  border-radius: 3px;
  opacity: 0;
  transition: opacity 0.5s;
  pointer-events: none;
}

.submit-button:hover .tool-tip {
  opacity: 1;
}

@import './_adaptive.scss';

//scaling

